.signup {

    &__container,
    signup-container {
        display: flex;
        justify-content: center;
        flex-direction: column;
        // height: 100vh;
        @include absCenter;
        @include respond (Iphone) {
            width: 75vw;            
        }
        gap: 2rem;
        border: 2px solid whitesmoke;
        padding: 2rem;
        width: 20vw;

    }

    &__title {
        font-size: 2rem;
        font-weight: 700;
        text-align: left;
        color: black;
        margin-bottom: -1rem;
        // margin-bottom: 1rem;
    }

    &__input {
        font-size: 1.6rem;
        height: 5.5rem;
        border: none;
        background-color: $color-grey-light-1;
        padding-left: 5%;

        &:focus {
            // background-color: ;
            border: none;
            outline: none;
        }

        &-span {
        font-size: 2rem;
        background-color: $color-grey-light-1;
        width: 10%;
        height: 3.8rem;
        padding-top: 1.65rem;
        text-align: end;
        color: black;
        padding-right: 5%;
        padding-bottom: .2rem;
        @include respond(Iphone){
            padding-bottom: .1rem;

        }
        cursor: pointer;
        
        }

        &-dropdown {
            font-size: 2rem;
            color: white;
            background-color: rgba(9, 9, 9, 0.861);
            
            // &:focus, &:hover {
            //     background-color: rgba(9, 9, 9, 0.703);
            // }
        }
    }

    &-password {
        // display: flex;
        // justify-content: space-evenly;
        background-color: $color-grey-light-1;
        // height: 4rem;
    }

    &__btn {

        &-container {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            align-items: center;
            margin-top: 2rem;
        }

        &:disabled {
            opacity: 0.7; 
           
          }
          

    font-size: 1.5rem;
    background-color: $color-primary-light;
    color: white;
    width: max-content;
    padding: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;

    }

    &__error {
        color: red;
        text-align: center;
        font-size: 2rem;
        margin-bottom: -2rem;
    }
}

.input-password {
    width: 80%;
}

.btttn {
    &-1 {
        width: 6rem;
    }
    &-2 {
        width: 8rem;
    }

}


.error{
    border-bottom: 1px red solid;
}






.signup__input {
    position: relative;
  }
  
  .signup__input.focused::placeholder,
  .signup__input:not(:placeholder-shown)::placeholder {
    transform: translateY(-1.6rem);
    transition: 0.1s all;
  }

  .noerror {
    color: rgb(33, 33, 186) !important;
  }
  