.popup__carousel {

    &__container {
        
        position: fixed;
        top: 0;
        left: 0;
        width: 102vw;
        height: 100vh;
        background: rgba(0, 0, 0, 0.1);
        z-index: 50;
    }

    &__Wrapper {
        @include absCenter;
        width: 50%;
        height: 50%;

        @include respond(Iphone) {
            width: 80%;
        }
    }
}

.disappear {
    visibility: hidden;
}