// .search-bar {
//     position: relative;
//     font-size: 2rem;
//     padding: 1rem 1rem;
//     background-color: $color-white;
//     border-radius: 5px;
//     border: 5px gold solid;
//     min-width: 70vw;
//     height: max-content;

//     display: flex;
//     flex-wrap: wrap;
//     align-items: center;
//     // justify-content: space-around;

//     &>* {
//         display: flex;
//         flex-wrap: nowrap;
//         flex: 0 0;
//         gap: .5rem;


//         @include respond(Iphone) {
//             width: 100vw;
//             padding-left: 2rem;
//             flex-wrap: nowrap;
//             gap: 0rem;


//         }
//     }

//     // @include respond(tab-port) {
//     //     flex-direction: column;
//     //     width: 100vw;
//     // }

//     @include respond(Iphone) {
//         background-color: transparent;
//         border: none;
//         width: 100vw;
//         padding: 0;
//         text-align: left;
//         max-height: 50vh;

//         flex-direction: column;
//     }

//     &__university {
//         // float: left;

//         &-label {
//             // font-size: inherit;
//             font-weight: 700;
//             color: $color-primary-dark;
//             // margin-right: 1rem;

//             @include respond(Iphone) {
//                 width: 30vw;
//             }

//         }

//         &-selector {
//             font-size: 1.7rem;
//             padding: 4px 0 4px;
//             box-sizing: content-box;
//             min-height: 22px;
//             background-color: $color-grey-primary;
//             // margin-right: 1rem;
//             width: 20rem;
//             border: none;

//             @include respond(Iphone) {
//                 background-color: transparent;
//                 width: 60vw;
//                 font-size: 2rem;
//                 text-align: center;
//             }
//         }

//         @include respond(Iphone) {
//             float: none;
//             background-color: $color-white;
//             border-top: 4px gold solid;
//             width: 100%;
//             padding: 1rem 1rem;

//         }
//     }

//     &__calendar {
//         // float: left;

//         &-label {
//             font-weight: 700;
//             color: $color-primary-dark;
//             // margin-right: 1rem;
//             text-wrap: nowrap;

//             @include respond(Iphone) {
//                 float: left;
//                 width: 30vw;
//             }
//         }

//         &-selector {
//             // float: right;
//             width: 20rem;
//             font-size: 1.7rem;
//             background-color: $color-grey-primary;
//             // margin-right: 1rem;

//             @include respond(Iphone) {
//                 float: left;
//                 width: 60vw;
//                 background-color: transparent;
//                 text-align: center;
//             }
//         }

//         @include respond(Iphone) {
//             float: none;
//             background-color: $color-white;
//             border-top: 2px gold solid;
//             padding: 1rem 1rem;
//             @include clearfix;
//             height: 5vh;
//         }
//     }

//     &__studentsNumber {
//         // float: left;

//         &-label {
//             font-weight: 700;
//             color: $color-primary-dark;
//             // margin-right: 1rem;

//             @include respond(Iphone) {
//                 width: 30vw;
//             }
//         }

//         &-selector {
//             font-size: 1.7rem;
//             padding: 4px 0 4px;
//             border: none;
//             box-sizing: content-box;
//             min-height: 22px;
//             background-color: $color-grey-primary;
//             // margin-right: 1rem;
//             width: 20rem;

//             @include respond(Iphone) {
//                 background-color: transparent;
//                 width: 45vw;
//                 padding-left: 5rem;
//             }
//         }

//         @include respond(Iphone) {
//             float: none;
//             background-color: $color-white;
//             border-top: 2px gold solid;
//             padding: 1rem 1rem;
//         }
//     }

//     &__submit {
//         // float: left;
//         width: 10rem;
//         height: inherit;
//         box-sizing: content-box;
//         min-height: 22px;

//         // @include clearfix;

//         &-button {
//             font-size: 3rem;
//             width: 100%;
//             padding: 2rem;
//             color: $color-primary-dark;
//             border: none;
//             background-color: $color-white;
//             transition: 0.5s all;
//             height: 100%;

//             &:hover {
//                 color: $color-white;
//                 background-color: $color-primary-dark;
//                 // transform: scaleX(1) scaleY(1.5);
//             }

//             &:disabled {
//                 opacity: .5;
//                 color: $color-primary-dark;
//                 background-color: transparent;
//             }

//             @include respond(Iphone) {
//                 &:not(:disabled) {
//                     border-bottom: 6px gold solid;
//                 }
//             }
//         }

//         @include respond(Iphone) {
//             float: none;
//             background-color: $color-white;
//             border-top: 2px gold solid;
//             width: 100%;
//             height: 4.5vh;
//             border-bottom: 6px gold solid;
//         }
//     }

//     // @include clearfix;
// }

.search-bar {

    height: max-content;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 60vw;
    margin: 0 auto;
    flex-wrap: nowrap;

    padding: .5rem 0;

    background-color: white;
    border-radius: 5px;
    border: 5px gold solid;

    @include respond(small-desktop) {
        width: 68vw;
        flex-wrap: wrap;
    }

    @include respond(Iphone) {
        width: 90vw;
        flex-direction: column;
        align-items: center;
        border-radius: 5px;
        border: 3.5px gold solid;
    }


    &>* {
        display: flex;
        align-items: center;
        gap: 1rem;
        text-wrap: nowrap;

        @include respond(small-desktop) {
            text-wrap: wrap;
        }

        @include respond(Iphone) {

            padding: 1rem;
            width: 100%;
        }
    }

    &__label {
        font-size: 2rem;
        font-weight: 700;
        color: $color-primary-dark;

        @include respond(small-desktop) {
            text-wrap: wrap;
        }
    }

    &__university {

        @include respond(Iphone) {
            border-bottom: 2px gold solid;
            // padding: 1rem;
        }

        &-selector {

            height: 100%;
            font-size: 1.3rem;
            padding: .3rem;
            box-sizing: border-box;
            min-height: 22px;
            background-color: $color-grey-primary;
            border: none;
            outline: none;
            display: inline-block;
            color: black;


            @include respond(Iphone) {
               background-color: transparent;
               font-size: 1.7rem;
               flex-grow: 1;
            }

        }
    }

    &__calendar {
        text-wrap: nowrap;

        @include respond(Iphone) {
            border-bottom: 2px gold solid;
        }

        &-selector {
            padding-left: 1rem;
            background-color: $color-grey-primary;
            display: inline-block;
            border: none;
            @include respond(Iphone) {
                background-color: transparent;
                font-size: 1.7rem;
                flex-grow: 1;
             }
        }
    }

    &__studentsNumber {

        &-selector {
            flex-shrink: 1;
            font-size: 1.7rem;
            padding: 4px 0 4px;
            border: none;
            outline: none;
            background-color: $color-grey-primary;
            display: inline-block;
            @include respond(Iphone) {
                background-color: transparent;
                font-size: 2rem;
                flex-grow: 1;
             }
        }
    }

    &__submit {

        flex: 0 0 10%;

        @include respond(small-desktop) {
            border-top: 2px gold solid;
            margin-top: .5rem;
            flex: 0 0 98%;
            padding-top: .5rem;
        }

        @include respond(Iphone) {
            border-top: 3.5px gold solid;
            margin-top: 0rem;
        }

        &-button {
            padding: .5rem 0;
            font-size: 2rem;
            height: 100%;
            width: 100%;
            color: $color-primary-dark;
            background-color: transparent;
            border: none;
            outline: none;

            transition: 0.5s all;

            &:hover {
                color: $color-white;
                background-color: $color-primary-dark;
            }
        }
    }
}