<div class="secondaryHeader">
    <div class="headerContainer">
        <div class="headerList">
            <div class="headerListItem" routerLinkActive="active">
                <i class="fa-solid fa-hotel"></i>
                <span class="headerListItem-span" routerLink="/propertyList">List of properties</span>
            </div>
            <div class="headerListItem" routerLinkActive="active">
                <i class="fa-solid fa-handshake"></i>
                <span class="headerListItem-span" routerLink="/chooseApartner">Choose a partner</span>
            </div>
            <div class="headerListItem" routerLinkActive="active">
                <i class="fa-solid fa-tag"></i>
                <span class="headerListItem-span" routerLink="/register-your-property">List your propery</span>
            </div>
            <div class="headerListItem" routerLinkActive="active">
                <i class="fa-solid fa-book-open"></i>
                <span class="headerListItem-span" routerLink="/bookings">View Your stays</span>
            </div>
        </div>
        <!-- <h1 class="headerTitle">Didn't book yet? You're just few clicks away from it!</h1>
        <p class="headerDesc">Make sure to create an account, or sign in into your account to be able to book a dorm or choose your partner</p>
        <button class="headerBtn">Sign in / Register</button> -->
    </div>
</div>