<footer class="footer">
    <div class="footer__logo-box">
        <img routerLink="/homepage" style="cursor: pointer;" src="https://homepage-photos.s3.eu-west-3.amazonaws.com/Logo-new1.png" alt="Full logo" class="footer__logo">
    </div>
    <div class="row">
        <div class="col-1-of-2">
            <div class="footer__navigation">
                <ul class="footer__list">
                    <li class="footer__item"><a href="#" class="footer__link-icons"><i
                                class="fa-brands fa-instagram"></i></a></li>
                    <li class="footer__item"><a href="#" class="footer__link-icons"><i
                                class="fa-brands fa-x-twitter"></i></a></li>
                    <li class="footer__item"><a href="#" class="footer__link-icons"><i
                                class="fa-brands fa-facebook"></i></a></li>

                </ul>
            </div>
        </div>
        <div class="col-1-of-2">
            <p class="footer__copyright">
                Created in 2023, built by <a href="#" class="footer__link">Baraa Ghalayini</a>. Copyright &copy;
            </p>
        </div>
    </div>
</footer>