<div class="navbar">
  <div class="navContainer">
    <a class="logo" routerLink="/homepage">DormNation</a>
  </div>
</div>

<form class="signup__container" (ngSubmit)="onSubmitForm()" #signupForm="ngForm">
  <span class="signup__title">Reset Password</span>

  <input *ngIf="!Success" placeholder="Email*" [(ngModel)]="Email" name="email" [ngClass]="{'error': EmailError}" type="email" class="signup__input" required appFloatingLabel>
  
  <input *ngIf="!OTPSuccess && Success" placeholder="OTP*" [(ngModel)]="OTP_Value" name="OTP_Value" type="text" class="signup__input" required appFloatingLabel pattern="[0-9]{6}">

  <div *ngIf="Success && OTPSuccess" class="signup__input-password">
    <input placeholder="Password*" [(ngModel)]="password" name="password" [ngClass]="{'error': PassError}" [type]="hidePassword ? 'password' : 'text'" class="signup__input input-password" required appFloatingLabel>
    <i *ngIf="hidePassword" [ngClass]="{'error': PassError}" class="fa-solid fa-eye-slash signup__input-span" (click)="togglePasswordVisibility()"></i>
    <i *ngIf="!hidePassword" [ngClass]="{'error': PassError}" class="fa-solid fa-eye signup__input-span" (click)="togglePasswordVisibility()"></i>
  </div>

  <p *ngIf="EmailError || ReturnedError || PassError" class="signup__error" [ngClass]="{'noerror': Success && PassError === false}" >
    {{ WrittenError }}
  </p>

  <div class="signup__btn-container">
    <button *ngIf="!OTPSuccess" [disabled]="disablebtn || !signupForm.valid" type="submit" class="signup__btn">{{ Success ? 'Enter the OTP' : 'Send OTP'}}</button>
    <button *ngIf="OTPSuccess" [disabled]="disablebtn || !signupForm.valid " type="submit" class="signup__btn">Enter your new password</button>    
  </div>
</form>