$color-border: whitesmoke;

$color-primary: #cdaa54;
$color-primary-light: #c39830;
$color-primary-dark:  #b8860b;
$color-primary-new : goldenrod;

$color-secondary-light: #347f71;
$color-secondary-dark: #015f4e;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-primary: #F0F0EC;
$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;
$color-black-light: #645f5f;

$color-LAU-1: #347f71;
$color-LAU-2: #015f4e;

$color-AUB-1: #840132;
$color-AUB-2: #6a132c;

$color-BAU-1:#058cca;
$color-BAU-2:#22354b;

$color-USJ-1: #efefef; //#efefef
$color-USJ-2: #031250;

$color-RHU-1:#1192ce;
$color-RHU-2:#5a207f;


// FONT
$default-font-size: 1.6rem;

//GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;

