*,
*::after,
*::before {
    margin: 0px;
    padding: 0px;
    box-sizing: inherit;
}

html {
    /* 62.5% = 10px, since default browser's font size 16px  */
    font-size: 62.5%;
    /* 1 rem = 10 px / see units notes*/
    /* use 5px for mobile */

    @include respond(tab-land) { //width < 1200?
        font-size: 60%; //1rem = 9px, 9/16 = 56.25%
    }

    @include respond(tab-port) { //width < 900?
        font-size: 55%; //1 rem = 8.8px, 8/16 = 50%
    }

    @include respond(Iphone) { //width < 450?
        font-size: 45%; //1 rem = 7.2px 
    }

    // @include respond(small-desktop) { //width < 1400?
    //     font-size: 60%; //1 rem = 11.2px
    // }

    @include respond(big-desktop) {
        font-size: 80%; //1rem = 12px, 12/16 = 75%
    }
/* Hide scrollbar for IE, Edge, and Firefox */
    scrollbar-width: none;
    
}
// No respond phone bcz also font-size = 50%

// body {
    // box-sizing: border-box;
    // padding: 3rem;

    // @include respond(tab-port) {
    //     font-size: 50%; 
    //     padding: 0rem !important;
    // };
// }

/* Hide scrollbar for Chrome, Safari, and Opera */
::-webkit-scrollbar {
    display: none;
}


